<footer class="absolute bottom-0 w-full bg-zinc-50 text-center dark:bg-neutral-700 lg:text-left mt-4">
  <div class="bg-black/5 p-4 text-center text-surface dark:text-white">
    &copy;  {{ "now"|date("Y") }},  All rights reserved
    <a href="#">Pet Friend</a>
  </div>
</footer>